<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Horses On Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <h1 class="title"><%= link_to 'Horses on Rails', root_path %></h1>
      <h2 class="subtitle">Look at all the pretty horses standing in a <strong>row, row, row</strong>.</h2>
      <%= form_with(url: search_results_horses_path, method: "get", local: true) do %>
        <%= label_tag(:query, "Search for:") %>
        <%= text_field_tag(:query) %>
        <%= submit_tag("Search") %>
      <% end %>
    </section>
    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
